pyyaml
pandas
toml
tqdm
python-dotenv
beautifulsoup4
selenium
webdriver-manager
pytables
xkrd
python-calamine
pyxlsb
geopandas
shapely
folium
vs30 @ git+https://github.com/ucgmsim/Vs30.git@dev_for_new_cpt_data
