numpy
pdfminer.six
pyyaml
pandas
toml
tqdm
python-dotenv
beautifulsoup4
selenium
webdriver-manager
tables
xlrd
python-calamine
pyxlsb
geopandas
shapely
folium
rasterio
natsort
typer
vs30 @ git+https://github.com/ucgmsim/Vs30.git
